.section-book-table {
  padding: 9.6rem 0;
}

.container-book-table {
  display: flex;
  flex-direction: column;
  width: 100%;
}

.box-left {
  /* background: url(../../../public/images/book-table.png); */
  /* width: 60rem; */

  overflow: hidden;
  /* background: #rgba(4, 30, 66, 1);  fallback for old browsers */
  /* background: linear-gradient(rgb(14, 14, 14, 0.5), rgb(14, 14, 14, 0.6)),
    url(../../../public/images/illustrations/food-allergies--3.jpg); */
  background-color: #041e42;
  background-position: top;
  background-size: cover;
  background-repeat: no-repeat;

  height: 90rem;
  /* background: rgba(14, 14, 14, 0.1); */
  display: flex;
  justify-content: center;
  align-items: center;
  flex: 1;
  min-height: 25rem;
  border-radius: 0.8rem 0.8rem 0 0;
}

.image {
  width: 100%;
}

.box-right {
  flex: 1;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  padding: 6rem 6rem;

  background: #efdbb2;
  border-radius: 0 0 0.8rem 0.8rem;
}
.box-right > span {
  font-size: 8rem;
  margin-bottom: 1rem;
}
.box-right > h2 {
  margin-bottom: 3rem;
}
/* .box-right > p {
} */
.box-right > a {
  margin-top: 3rem;
}

.box-right-paragraphs {
  display: flex;
  flex-direction: column;
  gap: 1.4rem;
  width: 80%;
}
.box-right-paragraphs > p {
  font-size: 1.8rem;
}
.box-left--text {
  display: flex;
  color: #ffffff;
  justify-content: center;
  align-items: center;
  gap: 2rem;
}

.box-left--text > H2 {
  font-weight: 800;
}

.box-left--text:last-child {
  font-size: 4rem;
}

/**** MEDIA QUERIES ****/

/**************************/
/* BELOW 1200px (desktops) */
/**************************/
@media (max-width: 75em) {
  .container-book-table {
    padding: 0 6rem;
  }
}

/**************************/
/* BELOW 1024px (Small screens + laptops) */
/**************************/
@media (max-width: 64em) {
}

/**************************/
/* BELOW 850px (tablets) */
/**************************/
@media (max-width: 53em) {
}

/**************************/
/* BELOW 750px */
/**************************/
@media (max-width: 47em) {
  .box-right {
    padding: 6rem 4rem;
  }
}

/**************************/
/* BELOW 480px (Mobile devices) */
/**************************/

@media (max-width: 30em) {
  .container-book-table {
    padding: 0 2rem;
  }
}
