.footer,
.copyright-box {
  /* display: flex;
  flex-direction: column; */
  background-color: #efdbb2;
}
.grid {
  display: flex;
  column-gap: 5rem;
  row-gap: 9.6rem;
  /* margin-bottom: 9.6rem; */
}
.container {
  /* 114px convention can be used; or 120 rem also is a convention used */
  max-width: 130rem;
  padding: 6rem 3.2rem;
  margin: 0rem auto;
  /* Reminder : "margin 0 auto" gives the same margin to the left and right side and figure out automatically --> allow to center always*/
}

.footer-col--1 {
  display: flex;
  flex-direction: column;
  gap: 2rem;
  width: 20%;
}

.logo-blue-transparent {
  width: 50%;
}
.line {
  border: 1px solid rgba(236, 241, 244, 0.35);
}
.subtitle {
  font-family: "Fira Sans";
  font-style: normal;
  font-weight: 700;
  font-size: 18px;
  line-height: 24px;
  /* or 133% */

  /* T - Blue */

  color: #041e42;
}

.footer-col--2 {
  display: flex;
  flex-direction: column;
  gap: 3rem;
}
.col-2--address,
.col-2--openings {
  display: flex;
  flex-direction: column;
  gap: 0.6rem;
}

.col-4-nav-list {
  display: flex;
  flex-direction: column;
  gap: 0;
}

.col-5-nav-list {
  display: flex;
  gap: 1rem;
}

.col-4-nav-list,
.col-5-nav-list {
  margin-top: 0.6rem;
}

.copyright-box {
  text-align: center;
}

.box-icon {
  display: flex;
  gap: 0.8rem;
  justify-content: center;
  align-self: center;
}
