.section-drinks-menu {
  padding: 12rem 0 18rem 0;
  background-color: #041e42;
  position: relative;
}

.menu-grid {
  background-color: #ffff;
  border-radius: 0.8rem;
  /* min-width: 1372px; */
  min-height: 100%;
  padding: 6rem 9.4rem;
}

.box-text {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 3.2rem;
  /* gap: 5rem;
  margin-left: 6rem; */
  /* flex-wrap: wrap; */
}

.left-side {
  width: 80%;
}

.left-side > h2 {
  /* font-family: "Fira Sans";
  font-style: normal;
  font-weight: 700;
  font-size: 48px; */

  color: #ff5c39;
}
.left-side > span {
  color: #000000;
}

.right-side-illustration {
  width: 30%;
}

/* Menu list section */

.menu-list {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  /* align-items: center; */
  justify-content: center;
  gap: 16rem;
  row-gap: 4rem;
  /* column-gap: 8rem; */
  margin: 8rem auto 0rem auto;
}

.item-card {
  width: 100%;
}

.title-row > span,
.title-row-right > span {
  font-family: 'Fira Sans';
  font-style: normal;
  font-weight: 700;
  font-size: 2.4rem;

  color: #041e42;
}

.title-row > h3,
.title-row-right > h3 {
  font-family: 'Fira Sans';
  font-style: normal;
  font-weight: 700;
  font-size: 2.4rem;

  color: #041e42;
}

.title-row {
  display: flex;
  justify-content: space-between;
  margin-bottom: 1rem;
  gap: 6rem;
}

/* left grid */

.left-grid {
  display: flex;
  flex-direction: column;

  gap: 4rem;
}

.upper-box {
  display: flex;
  flex-direction: column;
  gap: 1.8rem;
  margin-top: 8rem;
}
.upper-box > span {
  text-align: end;
  font-family: 'Fira Sans';
  font-style: normal;
  font-weight: 700;
  font-size: 2rem;
  line-height: 24px;
  /* identical to box height, or 100% */

  /* T - Blue */

  color: #041e42;
}

.bottom-box {
  display: flex;
  flex-direction: column;
  gap: 1.8rem;
}

/* right grid */

.right-grid {
  display: flex;
  flex-direction: column;
  gap: 1.8rem;
}

.title-row-right {
  display: flex;
  justify-content: space-between;
  margin-bottom: 0.6rem;
  gap: 18rem;
}

.instruction {
  font-style: italic;

  /* T - Black 0E0E0E */
}

.logo-box {
  width: 14%;
  position: absolute;
  /* left: 50%; */
  left: 50%;
  transform: translateX(-50%);
  /* margin-left: -50px; */
  /* top: 50%; */
  margin-top: -50px;
  /* transform: translate(-50%, -50%); */
}

.sentence {
  text-align: center;
  margin-bottom: 6rem;
}
/**** MEDIA QUERIES ****/

/**************************/
/* BELOW 1200px (desktops) */
/**************************/
@media (max-width: 75em) {
  .menu-list {
    gap: 10rem;
  }
  .logo-box {
    width: 20%;
  }

  .logo-box {
    margin-top: -6%;
  }
}

/**************************/
/* BELOW 1024px (Small screens + laptops) */
/**************************/
@media (max-width: 64em) {
  .section-drinks-menu {
    padding: 12rem 4rem;
  }

  .box-text {
    padding-right: 10rem;
  }

  .menu-grid {
    padding: 8rem 4rem;
  }

  .right-side-illustration {
    width: 40%;
  }

  .title-row-right {
    gap: 18rem;
  }
}

/**************************/
/* BELOW 850px (tablets) */
/**************************/
@media (max-width: 53em) {
  .title-row-right {
    gap: 16rem;
  }
  .title-row {
    gap: 12rem;
  }

  .menu-list {
    gap: 6rem;
  }
}

/**************************/
/* BELOW 750px */
/**************************/
@media (max-width: 47em) {
  .menu-grid {
    padding: 6rem;
  }

  .menu-list {
    margin: 6rem auto;
  }

  .title-row-right {
    gap: 23rem;
  }
  .title-row {
    gap: 18rem;
  }
  .box-text {
    justify-content: center;
    text-align: center;
  }

  .right-side-illustration {
    width: 35%;
  }

  .left-grid {
    gap: 6rem;
  }

  .title-row > span,
  .title-row-right > span {
    font-size: 2rem;
  }
}

/**************************/
/* BELOW 694px (Mobile devices) */
/**************************/

@media (max-width: 44em) {
  .menu-grid {
    padding: 4rem;
  }

  .title-row-right {
    gap: 12rem;
  }
  .title-row {
    gap: 8rem;
  }
  .right-side-illustration {
    display: none;
  }
  .box-text {
    padding-right: 0;
  }

  .sentence {
    width: 80%;
  }
  .logo-box {
    margin-top: -5%;
  }
}

/**************************/
/* BELOW 480px (Mobile devices) */
/**************************/

@media (max-width: 20em) {
  .section-drinks-menu {
    padding: 12rem 2rem;
  }
  .menu-grid {
    padding: 3rem;
  }

  .menu-list {
    flex-direction: column;
    align-items: center;
  }

  .item-card {
    width: 100%;
  }
  .logo-box {
    width: 30%;
  }

  .highlighted-item {
    padding: 1rem;
  }
}
