.section-main-menu {
  padding: 12rem 0;
  /* background-color: #041e42; */
  position: relative;
}

.menu-grid {
  background-color: #ffff;
  border-radius: 0.8rem;
  /* min-width: 1372px; */
  min-height: 100%;
  padding: 6rem 8rem 10rem 8rem;
}

.box-text {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 0 11rem;

  /* flex-wrap: wrap; */
}

.left-side {
  width: 100%;
}

.right-side-image {
  width: 30%;
}
.left-side > h2 {
  font-family: "Fira Sans";
  font-style: normal;
  font-weight: 700;
  font-size: 48px;
  line-height: 58px;
  /* identical to box height */

  /* T - Orange */

  color: #ff5c39;
}
.left-side > span {
  font-family: "Fira Sans";
  font-style: normal;
  font-weight: 400;
  font-size: 24px;
  line-height: 24px;
  /* or 100% */

  color: #000000;
}

/* Menu list section */

.menu-list {
  display: flex;
  flex-wrap: wrap;
  /* align-items: center; */
  justify-content: center;
  gap: 30rem;
  row-gap: 4rem;
  /* column-gap: 8rem; */
  margin: 6rem auto;
}

.item-card {
  width: 100%;
}

.title-row > span,
.title-row-right > span {
  font-family: "Fira Sans";
  font-style: normal;
  font-weight: 700;
  font-size: 24px;
  line-height: 24px;
  /* identical to box height, or 100% */

  /* T - Blue */

  color: #041e42;
}

.title-row {
  display: flex;
  margin-bottom: 1rem;
  gap: 15rem;
}

/* left grid */

.left-grid {
  display: flex;
  flex-direction: column;

  gap: 10rem;
}

.upper-box {
  display: flex;
  flex-direction: column;
  gap: 1.8rem;
}
.upper-box > span {
  text-align: end;
  font-family: "Fira Sans";
  font-style: normal;
  font-weight: 700;
  font-size: 2rem;
  line-height: 24px;
  /* identical to box height, or 100% */

  /* T - Blue */

  color: #041e42;
}

.bottom-box {
  display: flex;
  flex-direction: column;
  gap: 1.8rem;
}

/* right grid */

.right-grid {
  display: flex;
  flex-direction: column;
  gap: 1.8rem;
}

.title-row-right {
  display: flex;
  /* justify-content: space-between; */
  margin-bottom: 0.6rem;
  gap: 25rem;
}

.instruction {
  font-style: italic;

  /* T - Black 0E0E0E */
}

.logo-box {
  width: 14%;
  position: absolute;
  /* left: 50%; */
  left: 50%;
  transform: translateX(-50%);
  /* margin-left: -50px; */
  /* top: 50%; */
  margin-top: -50px;
  /* transform: translate(-50%, -50%); */
}
