.section-vegan-menu {
  padding: 12rem 0;
  background-color: #041e42;
  position: relative;
}

.menu-grid {
  background-color: #ffff;
  border-radius: 0.8rem;
  /* min-width: 1372px; */
  min-height: 100%;
  padding: 6rem 8rem;
}

.box-text {
  display: flex;
  justify-content: space-between;
  align-items: center;
  /* gap: 5rem;
  margin-left: 6rem; */
  /* flex-wrap: wrap; */
}

.left-side {
  width: 95%;
}

.left-side > h2 {
  /* font-family: "Fira Sans";
  font-style: normal;
  font-weight: 700;
  font-size: 48px; */

  color: #ff5c39;
}
.left-side > span {
  color: #000000;
}

.right-side-illustration {
  width: 35%;
}

.title-row {
  display: flex;
  margin-bottom: 1rem;
}

/* Menu list section */

.menu-list {
  display: flex;
  flex-wrap: wrap;
  /* align-items: center; */
  /* justify-content: center; */
  row-gap: 4rem;
  column-gap: 8rem;
  margin: 6rem auto;
}

.item-card {
  width: 40%;
}

.item-card > p {
  width: 86%;
}

.title-row {
  display: flex;
  justify-content: space-between;
}

.title-row > span {
  font-family: "Fira Sans";
  font-style: normal;
  font-weight: 700;
  font-size: 2.6rem;
  line-height: 24px;
  /* identical to box height, or 80% */

  /* T - Blue */

  color: #041e42;
}

.instruction {
  font-style: italic;

  /* T - Black 0E0E0E */
}

.logo-box {
  width: 14%;
  position: absolute;
  /* left: 50%; */
  left: 50%;
  transform: translateX(-50%);
  /* margin-left: -50px; */
  /* top: 50%; */
  margin-top: -50px;
  /* transform: translate(-50%, -50%); */
}

/**** MEDIA QUERIES ****/

/**************************/
/* BELOW 1200px (desktops) */
/**************************/
@media (max-width: 75em) {
  .logo-box {
    width: 20%;
  }

  .logo-box {
    margin-top: -6%;
  }
}

/**************************/
/* BELOW 1024px (Small screens + laptops) */
/**************************/
@media (max-width: 64em) {
  .section-vegan-menu {
    padding: 12rem 4rem;
  }
}

/**************************/
/* BELOW 850px (tablets) */
/**************************/
@media (max-width: 53em) {
}

/**************************/
/* BELOW 750px */
/**************************/
@media (max-width: 47em) {
  .menu-grid {
    padding: 6rem;
  }
}

/**************************/
/* BELOW 694px (Mobile devices) */
/**************************/

@media (max-width: 44em) {
  .section-vegan-menu {
    padding: 8rem 4rem;
  }
  .right-side-illustration {
    display: none;
  }
  .menu-grid {
    padding: 4rem;
  }

  .left-side {
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 1rem;
  }

  .menu-list {
    flex-direction: column;
  }

  .item-card {
    width: 90%;
  }
  .logo-box {
    margin-top: -40px;
  }
}

/**************************/
/* BELOW 480px (Mobile devices) */
/**************************/

@media (max-width: 20em) {
  .section-vegan-menu {
    padding: 12rem 2rem;
  }
  .menu-grid {
    padding: 3rem;
  }

  .menu-list {
    flex-direction: column;
    align-items: center;
  }

  .item-card {
    width: 100%;
  }
  .logo-box {
    width: 30%;
  }

  .highlighted-item {
    padding: 1rem;
  }
}
