.section-gallery {
  padding: 9.6rem 0;
}

.gallery {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  align-items: center;
  justify-items: center;
  text-align: center;
  row-gap: 8rem;
  padding: 1.6rem;
}

.gallery-item {
  overflow: hidden;
  width: 100%;
}

.gallery-item > image {
  display: block;
  width: 100%;
  transition: all 0.4s;
}
/* .gallery-item:child {
  width: 100%;
} */

.btn-box {
  display: flex;
  justify-content: center;
  margin: 5rem auto;
}
