.section-team {
  /* padding: 9.6rem 0; */
  padding: 4.8rem 0 16.8rem;
}

.subtitle {
  font-family: "Fira Sans";
  font-style: normal;
  font-weight: 400;
  font-size: 22px;
  line-height: 26px;
  display: flex;
  align-items: center;
  text-align: center;

  /* T - Orange */

  color: #ff5c39;
}

.team-item-list {
  margin-top: 6rem;
  display: flex;
  flex-wrap: wrap;
  gap: 8rem;
  justify-content: center;
  row-gap: 14rem;
}

.employee-card {
  width: 28%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.image-box {
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
  border-radius: 0.8rem;
  overflow: hidden;
}
.employee-text-box {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.employee-text-box > h4 {
  font-family: "Fira Sans";
  font-style: normal;
  font-weight: 700;
  font-size: 30px;
  line-height: 36px;
  /* identical to box height */

  text-align: center;

  color: #041e42;
  margin-top: 2.4rem;
}

.employee-text-box > span {
  font-family: "Fira Sans";
  font-style: normal;
  font-weight: 300;
  font-size: 20px;
  line-height: 24px;
  /* identical to box height, or 120% */

  text-align: center;

  /* T - Orange */

  color: #ff5c39;
  margin: 1.4rem auto;
}
.employee-text-box > p {
  font-family: "Fira Sans";
  font-style: normal;
  font-weight: 300;
  font-size: 1.8rem;
  line-height: 24px;
  /* or 120% */
  text-align: center;

  color: #000000;
}

.paragraphs-box {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}
/**** MEDIA QUERIES ****/

/**************************/
/* BELOW 1200px (desktops) */
/**************************/
@media (max-width: 75em) {
}

/**************************/
/* BELOW 1024px (Small screens + laptops) */
/**************************/
@media (max-width: 64em) {
  .grid-team {
    padding: 0 2rem;
    display: flex;
    flex-direction: column;
  }
  .box-text {
  }

  .box-text {
    display: flex;
    flex-direction: column;
    /* justify-content: center; */
    align-items: center;
  }

  .employee-card {
    width: 36%;
  }
}

/**************************/
/* BELOW 850px (tablets) */
/**************************/
@media (max-width: 53em) {
  .team-item-list {
    row-gap: 7rem;
  }
}

/**************************/
/* BELOW 750px */
/**************************/
@media (max-width: 47em) {
  .team-item-list {
    margin-top: 4rem;
  }

  .employee-card {
    width: 56%;
  }
}

/**************************/
/* BELOW 480px (Mobile devices) */
/**************************/

@media (max-width: 30em) {
  .employee-card {
    width: 86%;
  }
}

/**************************/
/* BELOW 480px (Mobile devices) */
/**************************/

@media (max-width: 20em) {
  .grid-team {
    padding: 0 4rem;
  }
  .employee-card {
    width: 100%;
  }
}
