.section-addresses {
  padding: 0 0 9.7rem 0;
}

.grid-addresses {
  display: flex;
  align-items: center;
  text-align: center;
  flex-wrap: wrap;
  width: 100%;
  row-gap: 6rem;
  column-gap: 14rem;
  margin: 0 auto;
}
.card-address {
  width: 40%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
  align-items: center;
  gap: 0.8rem;
}
.card-address > h2 {
  font-family: "Fira Sans";
  font-style: normal;
  font-weight: 300;
  font-size: 30px;
  line-height: 36px;

  text-align: center;

  color: #ff5c39;
}

.card-address > span {
  font-family: "Fira Sans";
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 24px;
  text-align: center;
  width: 80%;

  color: #0e0e0e;
}

.box-illustration {
  display: flex;
  justify-content: center;
  width: 25%;
  text-align: center;
  margin: 6rem auto 0 auto;
}

/**** MEDIA QUERIES ****/

/**************************/
/* BELOW 1200px (desktops) */
/**************************/
@media (max-width: 75em) {
}

/**************************/
/* BELOW 1024px (Small screens + laptops) */
/**************************/
@media (max-width: 64em) {
}

/**************************/
/* BELOW 850px (tablets) */
/**************************/
@media (max-width: 53em) {
}

/**************************/
/* BELOW 750px */
/**************************/
@media (max-width: 47em) {
  .grid-addresses {
    flex-direction: column;
    row-gap: 3.8rem;
  }
  .card-address {
    width: 100%;
  }

  .box-illustration {
    width: 50%;
  }
}

/**************************/
/* BELOW 400px (Mobile devices) */
/**************************/

@media (max-width: 25em) {
  .card-address {
    width: 80%;
  }
}
