.section-book-table {
  padding: 9.6rem 0;
}

.container-local {
  display: flex;
  width: 100%;
}

.box-left {
  /* background: url(../../../public/images/book-table.png); */
  /* width: 60rem; */

  overflow: hidden;
  /* background: #rgba(4, 30, 66, 1);  fallback for old browsers */
  background: linear-gradient(rgb(14, 14, 14, 0.5), rgb(14, 14, 14, 0.5)),
    url(../../../public/images/restaurant/table-toasteur.png);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  /* background: rgba(14, 14, 14, 0.1); */
  display: flex;
  justify-content: center;
  align-items: center;
  flex: 1;
}

.image {
  width: 100%;
}

.box-right {
  flex: 1;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 8rem 4rem;

  background: rgba(239, 219, 178, 0.45);
  border-radius: 0px 0.8rem 0.8rem 0;
}
.box-right > span {
  font-size: 9rem;
  margin-bottom: 1rem;
}
.box-right > h2 {
  margin-bottom: 3rem;
  text-align: center;
}
/* .box-right > p {
} */
.box-right > a {
  margin-top: 3rem;
}

.box-right-paragraphs {
  display: flex;
  flex-direction: column;
  gap: 1.4rem;
}
.box-left--text {
  display: flex;
  color: #ffffff;
  justify-content: center;
  align-items: center;
  gap: 2rem;
}

.left-title {
  font-family: "Fira Sans";
  font-style: normal;
  font-weight: 800;
  font-size: 3.6rem;
  display: flex;
  align-items: center;
}

.box-left--text:last-child {
  font-size: 4rem;
}
/**** MEDIA QUERIES ****/

/**************************/
/* BELOW 1200px (desktops) */
/**************************/
@media (max-width: 75em) {
  .box-right {
    padding: 8rem 4rem;
  }
  .box-right > h2 {
    font-size: 3.6rem;
  }
}

/**************************/
/* BELOW 1024px (Small screens + laptops) */
/**************************/
@media (max-width: 64em) {
  .left-title {
    font-size: 3.2rem;
  }
  .box-left--text:last-child {
    font-size: 3.8rem;
  }

  .box-right > h2 {
    font-size: 3.2rem;
  }
}

/**************************/
/* BELOW 850px (tablets) */
/**************************/
@media (max-width: 53em) {
  .left-title {
    font-size: 2.6rem;
  }

  .box-left--text:last-child {
    font-size: 3rem;
  }

  .box-right > h2 {
    font-size: 3rem;
  }
}

/**************************/
/* BELOW 710px */
/**************************/
@media (max-width: 44em) {
  .container-local {
    flex-direction: column;
  }
  .box-left {
    display: none;
  }
  .box-right {
    padding: 6rem 2rem;
    text-align: center;
  }
  .box-right > h2 {
    font-size: 3rem;
    margin-bottom: 4rem;
  }
}

/**************************/
/* BELOW 480px (Mobile devices) */
/**************************/

@media (max-width: 30em) {
}
