.hero-section {
  display: flex;
  justify-content: center;
}

.hero-illustration {
  /* left: 15% !important;
  /* z-index: 3; */
  /* width: 100% !important; */
  /* min-height: 90% !important; */
  z-index: -1;
}

.box-text {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 1rem;
}
.box-text > h1 {
  font-family: "Fira Sans";
  font-style: normal;
  font-weight: 300;
  font-size: 6rem;
  line-height: 74px;
  /* or 103% */

  display: flex;
  align-items: center;

  color: #333333;
}

.box-text > span {
  font-family: "Lato";
  font-style: light;
  font-weight: 300;
  font-size: 36px;
  line-height: 58px;

  /* T - Black 0E0E0E */

  color: #0e0e0e;
}
.box-image {
  /* width: 100%;
  height: 100%;
  min-width: 100%; */
  z-index: -1;
  /* position: absolute; */

  /* position: relative; */
  margin-right: 5rem;
}

/* .hero-section {
  position: relative;
} */
