.section-featured {
  padding: 9.6rem 0;

  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10rem;
  /* margin: 0 auto; */
}

.box-image {
  width: 100%;
  z-index: -1;
}
.subtitle {
  font-family: "Fira Sans";
  font-style: normal;
  font-weight: 300;
  font-size: 1.8rem;
  line-height: 26px;

  color: #ff5c39;
  margin-bottom: 0.4rem;
}

.title {
  margin-bottom: 3rem;
}

.box-text {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
}
.box-paragraph {
  display: flex;
  flex-direction: column;
  gap: 1.4rem;
}

.box-buttons {
  display: flex;
  gap: 5rem;
  margin-top: 5rem;
}
/* .btn-primary {
  background: #041e42;
  border-radius: 0.8rem;
  padding: 1rem 1.8rem;
  width: 50%;

  font-family: "Fira Sans";
  font-style: normal;
  font-weight: 500;
  font-size: 2.8rem;
  text-align: center;

  color: #ffffff;
}

.btn-secondary {
  background: #ffffff;

  border-radius: 0.8rem;
  padding: 1rem 2rem;
  width: 50%;
  border: 1.5px solid #041e42;

  font-family: "Fira Sans";
  font-style: normal;
  font-weight: 500;
  font-size: 2.8rem;
  text-align: center;

  color: #041e42;
} */

/**** MEDIA QUERIES ****/

/**************************/
/* BELOW 1200px (desktops) */
/**************************/
@media (max-width: 75em) {
  .section-featured {
    gap: 6rem;
  }
}

/**************************/
/* BELOW 1024px (Small screens + laptops) */
/**************************/
@media (max-width: 64em) {
  .box-buttons {
    margin-top: 4rem;
    gap: 4rem;
  }
}
/**************************/
/* BELOW 850px (tablets) */
/**************************/
@media (max-width: 53em) {
  .box-image {
    width: 90%;
  }
}

/**************************/
/* BELOW 750px */
/**************************/
@media (max-width: 47em) {
  .section-featured {
    flex-direction: column;
  }
  .box-image {
    width: 80%;
  }

  .box-text {
    width: 80%;
  }
}

/**************************/
/* BELOW 480px (Mobile devices) */
/**************************/

@media (max-width: 30em) {
  .box-buttons {
    margin-top: 3rem;
    gap: 3rem;
  }
}
