.section-impact-content {
  padding: 9.6rem 0;
}

.box-content {
  /* background: url(../../../public/images/impact-double-layers.png); */

  overflow: hidden;
  /* background: #rgba(4, 30, 66, 1);  fallback for old browsers */
  background: linear-gradient(rgb(4, 30, 66, 0.7), rgb(4, 30, 66, 0.7)),
    url(../../../public/images/illustrations/brunch-illustration.png);
  background-size: cover;
  background-repeat: no-repeat;

  border-radius: 0.8rem;
  padding: 5rem 10rem;
  font-size: 50px;
  color: white;

  display: flex;
  flex-direction: column;
  gap: 3.6rem;
}
.small-text {
  font-family: "Lato";
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  /* identical to box height, or 150% */

  text-align: center;

  color: #ffffff;
}

.title-impact {
  font-family: "Fira Sans";
  font-style: normal;
  font-weight: 700;
  font-size: 100px;
  line-height: 120px;
  text-align: center;

  color: #ffffff;
}

.title-impact > span {
  color: #efdbb2;
}

/* .box-image {
  position: absolute;
} */
