.section-impact-content {
  padding: 9.6rem 0;
}

.box-content {
  /* background: url(../../../public/images/impact-double-layers.png); */
  overflow: hidden;
  /* background: #rgba(4, 30, 66, 1);  fallback for old browsers */
  background: linear-gradient(rgb(4, 30, 66, 0.7), rgb(4, 30, 66, 0.7)),
    url(../../../public/images/illustrations/brunch-illustration.png);
  background-size: cover;
  background-repeat: no-repeat;

  border-radius: 0.8rem;
  padding: 5rem 10rem;
  font-size: 50px;
  color: white;

  display: flex;
  flex-direction: column;
  gap: 3.6rem;
}
.small-text {
  text-align: center;

  color: #ffffff;
}

.title-impact,
.title-impact-highlighted {
  font-family: "Fira Sans";
  font-style: normal;
  font-weight: 700;
  font-size: 8.8rem;
  line-height: 10rem;
  text-align: center;

  color: #ffffff;
}

.title-impact-highlighted {
  color: #efdbb2;
}

/* .box-image {
  position: absolute;
} */

/**** MEDIA QUERIES ****/

/**************************/
/* BELOW 1200px (desktops) */
/**************************/
@media (max-width: 75em) {
  .title-impact,
  .title-impact-highlighted {
    font-size: 8rem;
    line-height: 9rem;
  }
}

/**************************/
/* BELOW 1024px (Small screens + laptops) */
/**************************/
@media (max-width: 64em) {
}

/**************************/
/* BELOW 850px (tablets) */
/**************************/
@media (max-width: 53em) {
  .box-content {
    padding: 5rem 5rem;
  }
  .title-impact,
  .title-impact-highlighted {
    font-size: 7rem;
    line-height: 8rem;
  }
}

/**************************/
/* BELOW 750px */
/**************************/
@media (max-width: 47em) {
  .section-impact-content {
    max-width: 74rem;
  }
  .box-content {
    padding: 5rem 5rem;
  }
  .title-impact,
  .title-impact-highlighted {
    font-size: 5rem;
    line-height: 7rem;
  }
  .small-text {
    font-size: 1.4rem;
  }
}

/**************************/
/* BELOW 620px */
/**************************/
@media (max-width: 39em) {
  .section-impact-content {
    max-width: 60rem;
  }

  .box-content {
    padding: 3rem 3rem;
  }
  .title-impact,
  .title-impact-highlighted {
    font-size: 5rem;
    line-height: 7rem;
  }
  .small-text {
    font-size: 1.4rem;
  }
}

/**************************/
/* BELOW 480px (Mobile devices) */
/**************************/

@media (max-width: 30em) {
  .section-impact-content {
    max-width: 50rem;
  }
  .box-content {
    padding: 6rem 2rem;
  }

  .title-impact,
  .title-impact-highlighted {
    font-size: 4rem;
    line-height: 5rem;
  }
  .small-text {
    font-size: 1.2rem;
  }
}

/**************************/
/* BELOW 400px (Mobile devices) */
/**************************/

@media (max-width: 25em) {
  .section-impact-content {
    max-width: 50rem;
  }

  .title-impact,
  .title-impact-highlighted {
    font-size: 3.6rem;
    line-height: 4.6rem;
  }
  .small-text {
    font-size: 1rem;
  }
}

/**************************/
/* BELOW 340px (Mobile devices) */
/**************************/

@media (max-width: 21em) {
  .section-impact-content {
    max-width: 40rem;
  }

  .title-impact,
  .title-impact-highlighted {
    font-size: 2.6rem;
    line-height: 3.4rem;
  }
}
