.section-testimonials {
  background-color: #fdf2e9;
  display: grid;
  grid-template-columns: 55fr 45fr;
  align-items: center;
  row-gap: 4rem;
  background: rgba(219, 200, 161, 0.2);
  overflow-x: hidden;
}

.testimonials-container {
  padding: 9.6rem 6rem 9.6rem 9.6rem;
  display: flex;
  /* background: rgba(239, 219, 178, 0.2); */
  gap: 4rem;
  flex-direction: column;
}

.testimonials {
  display: grid;

  grid-template-columns: 1fr 1fr;
  row-gap: 4.8rem;
  column-gap: 8rem;
}

.heading-titles {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  text-align: left;
}
.testimonial-card {
  background: rgba(239, 219, 178, 0.2);
  border-radius: 0.8rem;
  width: 100%;
  padding: 2rem;
  display: flex;
  flex-direction: column;
  gap: 2rem;
}

.box-excerpt {
  display: flex;
  flex-direction: column;
}
.box-excerpt > p {
  font-family: "Fira Sans";
  font-style: normal;
  font-weight: 400;
  font-size: 18px;

  /* T - Dark grey */

  color: #383838;
  margin-bottom: 0;
}

.see-more {
  font-family: "Fira Sans";
  font-style: normal;
  font-weight: 300;
  font-size: 12px;

  align-self: left;
  /* T - Dark grey */

  color: #7b8493;
  margin-top: 0.6rem;
}

.first-row-box {
  display: flex-start;
  justify-content: flex-start;
  align-items: center;
  gap: 2rem;
}
/* .image-testimonial {
} */
.name-stars-box > span {
  font-family: "Fira Sans";
  font-style: normal;
  font-weight: 500;
  font-size: 20px;
  line-height: 24px;
  display: flex;
  align-items: center;

  /* T - Blue */

  color: #041e42;
}

.stars {
  color: #041e42;
  width: 14%;
}

/** OFF***
/* .testimonial-text {
  font-size: 1.8rem;
  line-height: 1.8;
  margin-bottom: 1.6rem;
} */

/* .testimonial-img {
  width: 6.4rem;
  border-radius: 50%;
  margin-bottom: 1.2rem;
} */
/* .testimonial-name {
  font-size: 1.6rem;
  color: #6f6f6f;
} */

.gallery {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 3rem;
  padding: 4rem;
}

.gallery-item {
  overflow: hidden;
  border-radius: 1.2rem;
  width: 95%;
}
.gallery-item img {
  display: block;
  width: 100%;
  transition: all 0.4s;
}

.image-radius {
  border-radius: 1.2rem;
}

.gallery-item img:hover {
  transform: scale(1.1);
}
/*  */

/**** MEDIA QUERIES ****/

/**************************/
/* BELOW 1200px (desktops) */
/**************************/
@media (max-width: 75em) {
  .testimonials-container {
    padding: 0rem 3.2rem;
  }
  .gallery {
    grid-template-columns: repeat(2, 1fr);
  }
}

/**************************/
/* BELOW 1024px (Small screens + laptops) */
/**************************/
@media (max-width: 64em) {
}
/**************************/
/* BELOW 768 (tablets) */
/**************************/
@media (max-width: 48em) {
}
/**************************/
/* BELOW 480px (Mobile devices) */
/**************************/

@media (max-width: 30em) {
}
